
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
  -fx-font-family: Arial;
}
.titled-pane > .title{
	-fx-background-color: #2258c3;
}
.chart-content {
    -fx-padding: 30px;
    
}

.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
.default-color0.chart-series-line {
	-fx-stroke: blue;
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #914800;
    -fx-font-family: Tahoma;
    -fx-tick-length: 20px;
    -fx-minor-tick-length: 10px;
}